<h1>Tweets from Yesterday</h1>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <div class="tweet-container">
      <div class="tweet" id="tweet-<%= tweet.twitter_id %>"></div>
      <% if @metadata %>
        <div class="tweet-metadata">
          <u>Metadata</u><br />
          <ul>
            <li>Retweeter: <%= tweet.retweeter %></li>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

